<% if @tuteur %>
  <p>Hi <%= @display_name_tuteur %> and <%= @display_name %>,</p>
<% else %>
  <p>Hi <%= @display_name %>,</p>
<% end %>

<p>Today we'll talk about SMTP and Postmark!</p>

<p>See ya!</p>
