#login-form {
    background: linear-gradient(251.31deg, $green -32.76%, #FFFFFF 217.09%);
    min-height: 100vh;
  .half-screen {
    width: 500px;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  }

  h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0px;
    font-weight: 700;
    color: rgba(0,0,0,0.8);

  }

  .login-submit {
      text-align: center;
      padding: 10px 50px;
    &:hover {
      box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
      background-color: $green !important;
    }
  }

  .form-actions {
    display: flex;
    justify-content: center;
  }

  a.link-button {
    text-align: center;
    padding: 10px 50px;
    border-radius: 15px 2px 15px 2px;
    color: black;
    background-color: #eee;
    max-width: 50%;
    margin: 20px auto;
    &:hover {
      text-decoration: none;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
      background-color: #ddd;
    }
  }

  @media only screen and (max-width: 600px) {
    .half-screen {width: 90%}
    a.link-button {max-width:90%}
  }

}
