<div class="container offset-top">

  <h1>Masterchef Junior</h1>
<p class='pre-wrap'>

<strong>Bienvenue à MasterChef junior !</strong>

Nous recherchons des enfants âgés de 8 à 12 ans dans tout le Maroc pour postuler à notre nouvelle émission passionnante MasterChef Junior. Si vous aimez cuisiner et que vous voulez montrer vos talents devant nos juges, vous pouvez postuler pour participer et avoir la chance d'être le premier couronné Champion MasterChef Junior Maroc !

<strong>Ce que nous recherchons :</strong>
 </p>
  <ul class='with-margin'>
    <li>  Vous devez être très enthousiaste à l’idée de cuisiner et de passer du temps dans la cuisine.</li>
    <li>  Vous devez être aventureux et ouvert à l’acquisition de nouvelles compétences.</li>
    <li>  Idéalement, cuisiner est quelque chose que vous faites souvent (ou du moins en aidant le cuisinier de votre famille).</li>
    <li>  Vous devez avoir préparé certaines choses par vous-même avant (ou sous la supervision de vos parents).</li>
    <li>  Vous devez avoir plusieurs choses que vous aimez cuisiner et que vous pourriez cuisiner pour les juges.</li>
    <li>  Vous devez être prêt à accepter certaines critiques (les juges peuvent aimer une partie de ce que vous cuisinez, mais il y a aussi une chance qu'ils n'apprécient pas d'autres choses à ce sujet).</li>
    <li>  Les juges rechercheront à quel point vous pouvez cuisiner et à quel point votre nourriture est délicieuse, mais ils rechercheront également votre potentiel. Cela signifie que vous n'êtes peut-être pas parfait en ce moment, mais vous pourriez l’être un jour.</li>
    <li>  Et vous ne pouvez pas avoir peur d’être face à la caméra !</li>
  </ul>

  <p class='pre-wrap'>
<strong>Le processus de Casting de la compétition MasterChef Junior</strong>
La chose la plus importante à retenir est que des milliers d’enfants marocains présenteront leur candidature à Masterchef Junior et nous apprécions chaque candidature reçue.

Malheureusement, il n'y a qu'un nombre très limité de places disponibles dans l'émission de télévision - ne soyez donc pas déçu si vous n'êtes pas invité au Casting cette année – S’il vous plait continuez à apprécier votre cuisine autant que nous l’avons apprécié, et nous espérons que vous et votre famille aimerez regarder l’émission à la télévision plus tard dans l’année.

<strong>Que se passe-t-il à partir d’ici ?</strong>

Une fois que vous avez soumis votre candidature, vous êtes susceptibles de recevoir un appel téléphonique de notre département de casting qui voudra vous parler de votre candidature et de votre implication potentielle dans Masterchef Junior. Sachez néanmoins que tous les candidats ne seront pas contactés par notre département de casting.

Si vous êtes invités au Casting, vous devrez comparaître devant les producteurs de télévision Junior Masterchef et certains Chefs qui voudront goûter votre nourriture. Nous vous demanderons d’apporter un plat que vous avez pré-cuisiné à la maison pour le présenter à notre panel - cela devrait être votre plat favoris à cuisiner. Cela pourrait être tout ce que vous voulez, que ce soit un dessert, une entrée, un plat principal ou même un petit-déjeuner - nous voulons voir ce que vous pensez pouvoir cuisiner le mieux. (Mais veuillez noter que pour des raisons de santé et de sécurité, cela ne doit pas être quelque chose qui nécessite d’être réchauffé, et vous devrez conserver le plat à température ambiante, alors apportez-le dans un sac isotherme).

Nous vous poserons des questions sur votre plat, et d'autres questions générales sur vous et votre environnement culinaire. Il peut y avoir beaucoup de candidats à comparaître ce jour-là - vous devez supposer que tous les enfants et les parents ou tuteurs seront tenus d’êtres présents à la journée entière. Cette journée de Casting sera filmée, il est possible que certaines de ces séquences soient utilisées dans le cadre de l’émission MasterChef Junior.

Après les deux jours de casting, la sélection sera faite par notre Jury en interne, et vous sera par la suite communiquée. Les 8 candidats séléctionnés à participer à MasterChef Junior 2019 seront appelés par notre département casting. Le reste des participants au casting qui n’ont pas étés retenus ne seront pas rappelés.

Si vous atteignez le stade final, vous pourriez être le gagnant et remporter le titre du Masterchef Junior Maroc 2 !

<strong>Veuillez noter que :</strong>
</p>
  <ul class='with-margin'>
    <li>Vous devez avoir la permission de vos parents ou tuteurs avant de remplir et de soumettre le formulaire de candidature, et votre parent ou tuteur doit lire et accepter tous les termes et conditions afin que la candidature soit prise en compte.</li>
    <li>Vous et votre parent ou tuteur devez être disponible et capable de vous engager à tous les jours de tournage requis.</li>
    <li>Votre parent ou tuteur doit vous accompagner au casting et à toutes les dates de tournage requises par la société de production. Votre parent ou tuteur doit obtenir la permission de votre école pour obtenir un congé pour les dates requises par la société de production.</li>
    <li>La date de clôture des candidatures est le Jeudi 20 Juin 2019  – Assurez-vous de remplir et soummettre votre candidature avant cette date.</li>
  </ul>

  <p class='pre-wrap'>
Bonne chance et à vos cuisines !


<strong>CANDIDATURE EN LIGNE</strong>

La candidature se fera en 3 étapes :

PARTIE 1 : À remplir par le candidat et son parent (ou tuteur).

PARTIE 2 : À remplir par le candidat - photo de profile à télécharger.

PARTIE 3 : Doit être lu, rempli et accepté par votre parent (ou tuteur).

Notez qu'il est primordial que vous montriez à vos parents (ou à votre tuteur) toute les données que vous renseignez dans le cadre de votre candidature, qu'ils doivent lire et accepter toutes les conditions générales et donner leur consentement pour votre participation à l’émission, comme indiqué dans la partie 3.

  </p>
</div>
