<div class="container">

  <h1>Masterchef Junior</h1>
  <h2>Contact/h2>
  <p>
  Bienvenue à MasterChef junior !
  Nous recherchons des enfants âgés de 8 à 12 ans dans tout le Maroc pour postuler à notre nouvelle émission passionnante MasterChef Junior. Si vous aimez cuisiner et que vous voulez montrer vos talents devant nos juges, vous pouvez postuler pour participer et avoir la chance d'être le premier couronné Champion MasterChef Junior Maroc !

  Notez qu'il est primordial que vous montriez à vos parents (ou à votre tuteur) toute les données que vous renseignez dans le cadre de votre candidature, qu'ils doivent lire et accepter toutes les conditions générales et donner leur consentement pour votre participation à l’émission, comme indiqué dans la partie 3.

  </p>
</div>
