<div class="container offset-top">
  <h1 class='page-title text-center'>Dashboard</h1>
  <% content_for :after_js do %>
      <%= javascript_pack_tag 'vue_dashboard' %>
  <% end %>

  <div id='dashboard' data-inscriptions='<%= @inscriptions %>'></div>
</div>


