<div class="container">
  <h1>Mise à jour d'inscription</h1>

  <%= render 'form', inscription: @inscription %>

  <%= link_to t('voir'), @inscription %> |
  <%= link_to t('retour'), inscriptions_path %>
</div>
