<div class="container">
  <h1>Nouvelle inscription</h1>
</div>

<% content_for :after_js do %>
    <%= javascript_pack_tag 'vue_inscription' %>
<% end %>

<div id='app' data-evenement='<%= @evenement %>'></div>

