  .v-btn.rounded {
    background: linear-gradient(251.31deg, $green -32.76%, #FFFFFF 217.09%);
    color: white !important;
    text-transform: none !important;
    border-radius: 15px 2px 15px 2px !important;
    font-weight: 600 !important;
  }

  .v-btn.rounded.v-btn--disabled {
    background: rgba(0,0,0,0.12)
  }

  .v-btn.rounded.primary {
    background: linear-gradient(251.31deg, $blue -32.76%, #FFFFFF 217.09%);
  }

  .v-btn.large {
    font-size: 16px;
  }
